# Git
.git
.gitignore

# Env
.env

# Python
__pycache__/
*.pyc

# Local DB / Data
db.sqlite3
postgres_data/

# Static & Media (werden über Volumes gemountet)
staticfiles/
media/

# Node / Frontend falls vorhanden
node_modules/