services:
  web:
    build: .
    container_name: coderr_backend
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./media:/app/media
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:16
    container_name: coderr_db
    environment:
      POSTGRES_DB: coderr
      POSTGRES_USER: coderr
      POSTGRES_PASSWORD: coderr
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U coderr"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  postgres_data:
