version: "3.9"

services:
  web:
    build: .
    container_name: coderr_backend
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./media:/app/media
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: coderr_db
    environment:
      POSTGRES_DB: coderr
      POSTGRES_USER: coderr
      POSTGRES_PASSWORD: coderr
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
